{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title%}
    {{ super() }}
    Welcome 
{% endblock %}
{% block content %}
<div class="container">
    {% if username %}
    <h1>Welcome, {{ username | capitalize }}</h1>
    {% endif %}
    {% if user_address %}
        <h3>Your IP is {{ user_address }}</h3>
    {% else %}
        <a href="{{ url_for('index') }}">Go index</a>
    {% endif %}
    <h2>Create a new task</h2>
    {{ wtf.quick_form(task_form) }}
    <hr>
    <ul class="list-group">
        {% for task in tasks %}
            {{ macros.render_task(task, delete_task_form, update_task_form ) }}
        {% endfor %}
    </ul>
</div>
{% endblock%}
